:root {
    --primary: #01996D;
    --primary-hover: #006448;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    font-size: 16px;
    padding: 18px 50px;
    border-radius: 4px;
    text-decoration: none;
    transition: all .3s ease-out;
}

.btn:hover {
    background-color: var(--primary-hover);
}

.btn--fit {
    padding-top: 13px;
    padding-bottom: 13px;
}

.w-100 {
    width: 100%;
}

.first-screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    padding: 13px 0;
    border-bottom: 1px solid #d6d6d6;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

.nav {
    padding-right: 60px;
}

.nav-link {
    display: inline-block;
    font-size: 17px;
    color: #292929;
    text-decoration: none;
    padding: 5px;
    margin: 0 25px;
}

/* Promo */

.promo-section {
    background-image: url('img/start_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    flex-grow: 1;
    padding: 35px 0;
    display: flex;
    align-items: center;
}

.promo-content {
    max-width: 440px;
}

.main-h {
    margin: 0;
    color: var(--primary);
    font-size: 56px;
    line-height: 1.1;
}

.text {
    font-size: 16px;
    color: #484848;
    margin: 20px 0;
    line-height: 1.4;
}

.promo-section .text {
    margin-top: 25px;
    padding-right: 27%;
}

.promo-section .btn {
    margin-top: 30px;
}