main {
  max-height: 100vh;
}

header {
  min-height: 15vh;
}
ul {
  list-style: none;
}
.nav-bar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.text {
  margin-top: 1.5rem;
}
.text .item-tag {
  text-decoration: none;
}
.text ul {
  display: flex;
  list-style: none;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
}
#i-1 {
  color: black;
}
#i-2 {
  color: black;
}
#i-3 {
  color: rgb(74, 203, 255);
}
#i-4 {
  color: rgb(74, 203, 255);
}
#i-5 {
  color: rgb(74, 203, 255);
}
#i-6 {
  color: rgb(74, 203, 255);
}
#i-7 {
  color: rgb(74, 203, 255);
}

.wrap-list-item {
  background: #35444f;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2.5rem;
  height: 5.2rem;
  overflow: hidden;
}
.wrap-list-item .list-item {
  list-style: none;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap-list-item .list-item .item {
  text-decoration: none;
  color: white;
  border-left: 2px solid rgba(255, 255, 255, 0.9);
  font-size: 2.4rem;
  display: inline-block;
  height: 5.2rem;
  width: 30rem;
  transition: 0.2s;
  text-align: center;
  line-height: 5rem;
}

.list-item .item:hover {
  background: #222f3a;
}
.main-text {
  min-height: 48vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 3rem auto 0rem auto;
}
.wrapper-flex {
  align-self: flex-start;
  flex-basis: 30rem;
}
.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  height: 30rem;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}
.wrap {
  /* display: inline-block; ?????*/
  width: 100%;
}
.main-wraptxt {
  min-width: 30rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.wrap h2 {
  margin-left: 2rem;
  font-size: 2.2rem;
  color: #495863;
  transition: 0.5s ease-in-out;
}
.wrap h2:hover {
  transform: translateX(30%);
}
.main-wraptxt:hover {
  background: #dbdbdb;
}

.mainImg {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 84rem;
  height: 40rem;
  align-self: flex-start;
}
.mainImg .img {
  width: 30%;
  height: 40%;
}
.img img {
  width: 100%;
  height: 100%;
  margin-top: 12rem;
  margin-left: 30rem;
  transition: all 0.5s ease-in-out;
}
.text-p {
  width: 91rem;
  margin: 2rem 0rem 0rem auto;
  padding-right: 6.8rem;
  font-size: 1.3rem;
}
.text-p .p-tag {
  padding-top: 3rem;
}
.footer-wrap {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 8vh;
}
footer {
  background: rgba(99, 105, 110, 0.48);
  margin-top: 1.7rem;
  width: 90%;
  margin: auto;
}
footer h2 {
  flex: 1 1 30rem;
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
}
.fot {
  flex: 3 1 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #0c1927;
  font-size: 2.5rem;

  /* width: 70%;
  margin: 0 auto; */
}
.fot-li {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.fot .fot-li::before {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  overflow: hidden;
  height: 0rem;
  transition: 0.5s ease-in-out;
}
.fot .fot-li:nth-child(1)::before {
  content: "Ramda";
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}
.fot .fot-li:nth-child(2)::before {
  content: "Why Ramda";
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}
.fot .fot-li:nth-child(3)::before {
  content: "What`s Different";
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}
.fot .fot-li:nth-child(4)::before {
  content: "Introductions";
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}
.fot .fot-li:nth-child(5)::before {
  content: "Philosophy";
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}

.fot .fot-li:hover::before {
  height: 100%;
}
.imgg:hover {
  transform: scale(1.2);
}
.mainImg {
  overflow: hidden;
}
