/* Service classes */
* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.align-items--center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.highlighted {
    color: #FD665E
}

.mt-md {
    margin-top: 40px;
}

.def-text {
    margin: 0;
    font-size: 16px;
    color: #000;
    line-height: 1.6;
}

.def-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 20px 32px;
    background-color: #FD665E;
    border-radius: 4px;
    font-weight: 600;
}

.def-btn--pure {
    background-color: transparent;
    font-weight: 400;
    color: #585858;
}

.def-btn--sm {
    padding: 16px 24px;
}

/* Navigation */

.navigation {
    justify-content: space-between;
    padding: 34px 50px;
}

.logo {
    width: 60px;
}

.menu-list {
    margin: 0 0 0 35px;
    padding: 0;
}

.menu-list li {
    list-style: none;
    padding: 0 24px;
}

.menu-link {
    color: #585858;
    text-decoration: none;
    font-size: 14px;
}

.search-btn {
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 8px;
}



.navigation .def-btn {
    margin-left: 16px;
}

/* First section */

.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.sections-gap {
    padding-top: 55px;
    padding-bottom: 55px;
}

.main-h {
    margin: 0;
    font-size: 110px;
    line-height: 1;
    max-width: 810px;
}

.first-section-desc-col {
    width: 345px;
    padding-right: 55px;
}

.first-section-img-col {
    /* width: calc(100% - 345px); */
    flex-grow: 1;
}

/* Second section | Grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto minmax(430px, auto);
    row-gap: 40px;
    column-gap: 80px;
}

.second-sec-heading {
    grid-column: 1 / 4;
    text-align: center;
    /* padding-left: 32%; */
    /* margin-left: 32%; */
    /* margin-left: -30px; */
    /* max-width: 500px; */
}

.second-sec-heading h3 {
    display: inline-block;
    max-width: 500px;
    text-align: left;
    font-size: 48px;
    position: relative;
    left: -100px;
    /* margin: 0 0 0 155px; */
}