* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.head {
  min-height: 10vh;
  background-color: white;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 1 1 40rem;
}
.head ul a {
  text-decoration: none;
  font-size: 2.7rem;
  font-weight: bold;
  color: red;
  font: bold;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
}
.wrapper {
  background-image: url("./image\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}
.wrapper-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper-text h2 {
  margin-top: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.33rem;
  font-size: 2.3rem;
}

p {
  color: #373737;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 9rem 2rem 9rem;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.18rem;
}
.wrapper-text .btn {
  padding: 2rem 6rem;
  text-align: center;
  color: white;
  background-color: #ff0000;
  border: none;
  border-radius: 0.55rem;
  margin-top: 2rem;
  letter-spacing: 0.18rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer {
  min-height: 13vh;
}
.footer {
  text-align: end;
  padding-right: 10rem;
  padding-top: 5rem;
}
.footer h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.24rem;
  color: #373737;
}

/* ----------------------------------- */
.changeTheme {
  background-color: rgb(163, 231, 149);
}
.btnChange {
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgb(111, 157, 195);
  color: red;
}
