/* HEADER */

.main-section {
  min-height: 100vh;
  background-image: url("../img/backgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background: rgba(0, 0, 0, 0.4);
  mix-blend-mode: normal;
  padding: 16px 80px;
}
.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.title {
  flex: 3;
}
.title span {
  display: inline-block;
  color: white;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.4s ease;
}
.icon-svg {
  width: 25px;
  height: 25px;
  z-index: 100;
}
.icon-svg svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.svg {
  transition: all 0.4s;
}

.greeting h2 {
  color: white;
  font-size: 15px;
  font-weight: normal;
}
.item {
  display: inline-block;
  width: 2px;
  height: 21px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 4px;
}
.greeting h2 span {
  display: inline-block;
  color: white;
  font-size: 15px;
  font-weight: normal;
  transition: all 0.4s;
}

/* INPUT BLOCK */

.form-part {
  position: relative;
  width: 100%;
  max-width: 35%;
  margin: 65px auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 31px 61px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.SU-LI {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px; /* ??????? */
}
.SU-LI .signUp {
  font-size: 20px;
  color: #434343;
}
.SU-LI .logIn {
  color: #3cb878;
  font-size: 14px;
}
.btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.faceBook {
  color: #ffffff;
  font-size: 16px;
  padding: 15px 30px 15px 90px;
  background-color: #305db8;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.btns-form-wrapper .btn-item {
  background-color: #0a162f;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55px;
}
.letter-item {
  position: absolute;
  top: -20%;
  transform: translateY(-50%);
  left: 25px;
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 900;
  -webkit-transform: scale(2, 1);
  -moz-transform: scale(2, 1);
  -ms-transform: scale(2, 1);
  -o-transform: scale(2, 1);
  transform: scale(2, 1);
  cursor: pointer;
}
.google_pl {
  color: #ffffff;
  font-size: 16px;
  padding: 15px 35px 15px 90px;
  background-color: #df4a32;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.btns-form-wrapper .btn-item-second {
  background-color: #0a162f;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 68%;
}
.letter-item-second {
  position: absolute;
  top: 60%;
  transform: translateY(-55%);
  left: 59%;
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 900;
  cursor: pointer;
}
.dash {
  position: relative;
}
.dash p {
  position: relative;
  color: #848484;
  font-size: 14px;
  text-align: center;
  z-index: 2;
}
.dash-line {
  position: absolute;
  top: 50%;
  left: 0%;
  display: inline-block;
  width: 100%;
  transform: translateY(50%);
  border: 1px solid #f2f2f2;
  z-index: 1;
}
.wrapper-form {
  width: 100%;
  margin-top: 10px;
}

.wrapper--flex {
  padding-top: 15px;
  width: 100%;
}
.wrapper-form-input {
  margin-top: 15px;
}
.wrapper-form-input .input-field {
  min-width: 100%;
  padding: 16px 20px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  color: #bebebe;
  transition: 0.3s ease-in-out;
}
.checkbox-title {
  display: inline-block;
  font-size: 17px;
  color: #434343;
  padding-left: 15px;
}
.checkbox-input {
  position: relative;
}
.custom {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  position: relative;
  transform: scale(1.1, 1.1);
}
.create-account {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.custom:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  border-right: 2px solid #3cb878;
  border-bottom: 2px solid #3cb878;
  top: 40%;
  bottom: 50%;
  transform: translate(90%, -45%) rotateZ(40deg);
}
.checkmark {
  display: inline-block;
  cursor: pointer;
}
.hover-sp {
  color: #3cb878;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.cube {
  position: absolute;
  top: 43px;
  left: 0;
  background: #3cb878;
  width: 18px;
  height: 18px;
}
/* ALL HOVERS */

.greeting h2 span:hover {
  color: rgb(0, 111, 67);
  cursor: pointer;
}

.title span:hover {
  color: rgb(0, 111, 67);
  cursor: pointer;
}

.a-svg:hover .svg {
  fill: rgb(0, 111, 67);
  cursor: pointer;
}
.faceBook:hover {
  background-color: #022263;
}
.google_pl:hover {
  background-color: #ab1f09;
}
.input-field:focus {
  color: #434343;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21), 5px 5px 5px rgba(0, 0, 0, 0.2),
    9px 9px 9px rgba(0, 0, 0, 0.21);
  outline: none;
}
.password-input:focus {
  outline: none;
}
.email-input:focus {
  outline: none;
}
.hover-sp:hover {
  color: #01813f;
}
#check:checked ~ .custom:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  top: 40%;
  bottom: 50%;
  transform: translate(90%, -45%) rotateZ(40deg);
  border-right: 2px solid #01813f;
  border-bottom: 2px solid #01813f;
}
.create-account:hover {
  background: #01813f;
}
