* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper-gallery {
  max-height: 300px;
  max-width: 500px;
}
.gallery-img {
  min-height: 100px;
  min-width: 300px;
  position: relative;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hide {
  display: none;
}
.previous {
  margin-right: 15px;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(156, 87, 87);
  color: white;
  cursor: pointer;
}
.next {
  margin-left: 15px;
}
