* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
}

.main-sec {
  min-height: 100vh;
  overflow: hidden;
  background-color: #000000;
}

.wrapper-section {
  margin: 0 auto;
  position: absolute;
  width: 98%;
  min-height: 3500px;
  bottom: 0;
  font-size: 100px;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform: perspective(350px) rotateX(25deg);
  transform-origin: 50% 100%;
  color: gold;
}
.wrapper-text {
  position: absolute;
  top: 100%;
  animation: pop-up 30s linear infinite 1s;
}

@keyframes pop-up {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
