body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #c4c4c4;
    padding: 50px 70px;
    height: 130px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 20%;
}

.navigation {
    display: inline-block;
    text-align: center;
    width: 60%;
}

.nav-link {
    padding: 0 10px;
    color: tomato;
    text-decoration: none;
}

.first-section {
    background-color: grey;
    height: calc(100vh - 130px);
    background-image: url('https://images.unsplash.com/photo-1597687447753-47954cb878d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1781&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.overlay {
    height: calc(100vh - 130px);
    background-color: rgba(0, 0, 0, 0.5);
    /* padding-top: 1px; */
    padding-top: 28vh;
}

.heading,
.description {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.heading {
    font-size: 100px;
}

.description {
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
}