* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  border: none;
}
span {
  display: inline-block;
}
.container {
  min-height: 100vh;
  background-image: url("../img/background\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}
.p-contacts {
  display: inline-block;
}
.h2-contacts {
  display: inline-block;
  padding-left: 160px;
}
/* HEADER */

.header,
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo-img {
  position: relative;
  width: 53px;
  height: 53px;
}
.photo-img-hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  opacity: 0;
}
.photo-img-hover img {
  width: 100%;
  height: 100%;
}
.photo-img img {
  width: 100%;
  height: 100%;
}
.header-title {
  padding-left: 8px;
}

.header-title a {
  font-size: 22px;
  letter-spacing: 2px;
  color: white;
  /* font-weight: bold; */
}
#span {
  font-size: 35px;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  display: inline-block;
}
#a-header-title {
  display: inline-block;
}
.header {
  padding: 30px 0px 30px 0px;
}

.contacts p {
  font-size: 25px;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  display: flex;
}
.contacts h2 {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  padding-top: 30px;
}
.flex-item-img .title-img {
  text-align: center;
  padding-top: 12px;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
  transition: 0.5s ease-in-out;
}
.flex-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-item-img {
  position: relative;
  min-width: 350px;
  padding-bottom: 40px;

  z-index: 10000;
}
.flex-item-img img {
  min-height: 100%;

  width: 100%;
}
footer a {
  display: inline-block;
  transform: translateX(150%);
}
footer p {
  text-align: center;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.7;
}
.pop-up-1 h2 {
  font-size: 12px;
  color: white;
}
.pop-up-1 h2 span {
  font-size: 20px;
  line-height: 30px;
}
.pop-up-2 {
  padding-top: 15px;
  padding-right: 50px;
}
.pop-up-2-h2 {
  color: white;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
}
.flex-item-absol {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 100%;
  background: #f26522;
  padding: 10px;
  opacity: 0;

  transition: 0.5s ease-in-out;

  /* opacity: 0; */
}
.flex-item-relative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.pop-up-2-h2:after {
  position: absolute;
  content: url(../img/right-angle.png);
  top: 50%;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.item:hover .flex-item-absol {
  opacity: 1;
  pointer-events: all;
}
.item:hover .pop-up-2-h2:after {
  opacity: 1;
  pointer-events: all;
}
.item:hover .title-img {
  color: #f26522;
}
.p-contacts:hover {
  color: #f26522;
}
.h2-contacts:hover {
  color: #f26522;
}

.header-title:hover #a-header-title {
  color: #f26522;
}
.photo-img:hover .photo-img-hover {
  opacity: 1;
}
#span:hover {
  color: #f26522;
}
#logo-img:hover {
}
