.bg-img-def {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.head {
  position: relative;
  min-height: 5vh;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
}
.head .logo {
  background-image: url("./img/logo-img\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
.head .wrapper-items-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-items-2 .title {
  padding: 0.7rem 0rem 0rem 3rem;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.head .list-item {
  padding-right: 20rem;
  display: flex;
  justify-content: center;
  align-self: center;
  list-style: none;
  font-size: 2.2rem;
}
.head .list-item li {
  margin-left: 2.5rem;
}
.head .list-item li .item-tag {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  margin-left: 2rem;
}
.head .list-item li .item-tag:hover {
  color: #14b9d5;
}

.head .search-icon li {
  list-style: none;
  position: relative;
  width: 4.4vw;
  min-height: 100%;
}
.head .search-icon .fa {
  margin-top: -1.5rem;
  filter: invert(1);
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper-sr-icon:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4.4vw;
  min-height: 100%;
  background: #000000;
}

/* NEXT BLOCK */

.bg-img {
  min-height: 38vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("./img/programming-essentials_basic-html-css_homework_homework4-Design-and-architecture_img_header-bg.jpeg");
}
.bg-img h2 {
  text-align: center;
  line-height: 30rem;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
}
.a-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 40rem;
  margin: -10rem auto;
}
.a-btn a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}
.a-btn a:nth-child(1) {
  background: #89ca62;
}
.a-btn a:nth-child(2) {
  background: #14b9d5;
}
.sec-flex {
  min-height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f2f2f2;
}
.head-s {
  margin: 2rem 0rem 2rem 0rem;
}
.head-s h2 {
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: #18b4cf;
}
.sec-flex .div-wrapper-fl {
  padding: 0rem 7.5rem 4rem 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec-flex .div-wrapper-fl .img-fl {
  margin-left: 2rem;
  background: #ffffff;
  box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.09);
}
.sec-flex .div-wrapper-fl .img-fl p {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.09rem;
}
.sec-flex .div-wrapper-fl .img-fl img {
  width: 100%;
  height: 100%;
}
#img-fl-1,
#img-fl-2,
#img-fl-3 {
  align-self: flex-start;
}
#img-fl-2,
#img-fl-6 {
  flex-basis: 30rem;
}
#img-fl-1,
#img-fl-3,
#img-fl-4,
#img-fl-5 {
  flex-basis: 30rem;
}
#img-fl-4 {
  margin-top: -20rem;
}
#img-fl-5 {
  margin-top: -2rem;
}
#img-fl-6 {
  margin-top: -5rem;
}

/* NEXT BLOCK */

.bg-img-2 {
  min-height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("./img/programming-essentials_basic-html-css_homework_homework4-Design-and-architecture_img_parallax-bg.jpeg");
}
.wrapper-layers-grid {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: auto minmax(5rem, auto);
  row-gap: 17rem;
  column-gap: 10rem;
  max-width: 70rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 5rem;
  margin: 0 auto;
}
.wrapper-grid-h2 {
  grid-column: 1/5;
  text-align: center;
}
.wrapper-grid-h2 h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.rectangle-sp {
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, -35%);
  width: 7rem;
  height: 0.2rem;
  background-color: #18b4cf;
  z-index: 20;
  border-radius: 2px;
}
.wrapper img {
  width: 100%;
  height: 100%;
}
.wrapper-grid-img-photos {
  object-position: center;
  object-fit: cover;
}

/* NEXT BLOCK */

.wrapper-photos {
  background: #e5e5e5;
  overflow: hidden;
}
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-template-rows: auto;
}

.wrapper-grid-h2-ph {
  text-align: center;
  background: white;
  padding: 5rem 0rem 5rem 0rem;
}
.wrapper-grid-h2-ph h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #18b4cf;
}

/* NEXT BLOCK */

.last-section {
  background: white;
}
.grid-ph {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 1fr 20%;
  max-width: 99rem;
  grid-row-gap: 4rem;
  margin: 0 auto;
  padding-bottom: 8rem;
  grid-template-areas:
    "div1 div2 div3"
    "middle-wrap middle-wrap middle-wrap"
    "div8 div9 div10";
}
.middle-wrap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 20rem;
  grid-column-gap: 5rem;
  grid-row-gap: 18rem;
  grid-template-areas: "div4 div5" "div6 div7";
}
.bab3,
.bab8 {
  overflow: hidden;
}
.grid-ph-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#div3 img {
  height: 85%;
  padding-left: 2.5rem;
}
#div8 img {
  height: 85%;
  padding-right: 2.5rem;
}
.bab3 h2 {
  text-align: center;
  padding-top: 1.2rem;
  height: 100%;
  background: #f9f7f7;
  margin-left: 2.4rem;
}

.grid-ph-img-text {
  background: #f9f7f7;
}
.h1-tag {
  text-align: right;
  padding-right: 1.5rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.p-teg {
  padding: 2rem 1.5rem 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-align: right;
  line-height: 2rem;
  color: #5b6469;
}
.h2-tag {
  text-align: right;
  padding: 1rem 1rem 0rem 0rem;
  font-size: 1.8rem;
  color: #353a3d;
  letter-spacing: 0.05rem;
}
.p-tag-def {
  margin-left: 1rem;
}
.bg {
  background: #f9f7f7;
}
.p-tag {
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 1.4rem;
  color: #5b6469;
  line-height: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  font-family: "Open Sans", sans-serif;
}
.bab8 h2 {
  text-align: center;
  padding-top: 1.2rem;
  height: 100%;
  background: #f9f7f7;
  margin-right: 2.4rem;
}
#div1 {
  grid-area: div1;
  column-gap: 3rem;
  row-gap: 3rem;
}
#div2 {
  grid-area: div2;
}
#div3 {
  grid-area: div3;
}
#middle-wrap {
  grid-area: middle-wrap;
}
#div4 {
  grid-area: div4;
}
#div5 {
  grid-area: div5;
}
#div6 {
  grid-area: div6;
}
#div7 {
  grid-area: div7;
}
#div8 {
  grid-area: div8;
  margin-top: 12rem;
}
#div9 {
  grid-area: div9;
  margin-top: 12rem;
}
#div10 {
  grid-area: div10;
  margin-top: 12rem;
}

/* FOOTER */

footer {
  position: relative;
}
.sec-foot {
  min-height: 10vh;
  background: #000000;
  padding-top: 3.4rem;
}
.footer-wrapper {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  display: grid;
  max-width: 99rem;
  margin: 0 auto;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1fr;
  grid-template-areas: "first-item-h2 second-item-div";
  align-items: end;
}
.first-item-h2 {
  grid-area: first-item-h2;
}
.second-item-div {
  grid-area: second-item-div;
}
.img-wrapper-fot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-wrapper-fot img {
  margin-left: 1rem;
}
