* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inSpan {
  display: inline-block;
  padding: 2px;
  border-radius: 10px;
  background-color: rgb(234, 238, 234);
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
  padding-right: 20px;
}
.close {
  position: absolute;
  right: -1px;
  top: 0;
  max-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding: 100px;
}
.input:focus {
  outline: none;
}
